<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container">
    <a class="navbar-brand text-secondary font36" href="#"><strong>marion</strong></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
        <span></span>
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link"href="#">about</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">resume</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">email</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">linkedin</a>
        </li>
      </ul>
    </div>
  </div>
</nav>